.lobbyBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("../../../../resources/LobbyBG.png");
    background-size: cover;
    z-index: -1;
    background-position: center;
}

img {
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    z-index: -1;
    background-position: center;
}

.startButtonIcon {
    width: 100px;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.startButtonIcon.clicked {
    opacity: 0.8 !important;
}

.playerCountContainer {
    position: fixed;
    bottom: 30px; /* Adjust this value as needed for spacing from the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Ensure it's above the background */
}

.playerCountIcon {
    width: 30px;
    height: auto;
    margin-right: 8px;
}

.playerCount {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.startButtonContainer {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust this value as needed for spacing between player count and start button */
    position: fixed;
    bottom: 75px; /* Same as playerCountContainer to align them at the bottom */
    left: 51%;
    transform: translateX(-50%);
}
