.spaceShipBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../../../../resources/spaceShipBG.png");

    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
}

.gifBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../../resources/space.gif");
    background-size: cover;
    background-color: black;
    z-index: 1;
}

.smallPlayer {
    width: 50px;
    height: 50px;
}  