body {
  font-family: 'Lucida Console';
}


.loginbackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../../../resources/LoginBG.png");
  background-size: contain;
 
  z-index: 2; /* Increase the z-index to ensure it's on top */
  background-position: center;
  background-repeat: no-repeat;
}

.gifBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../../../resources/space.gif");
  background-size: cover;
  background-color: black; /* Set the background color */
  z-index: 1; /* Set a higher z-index to ensure it's behind the login background */
}

/* Other styles remain unchanged */


.input{
  margin-right: 10px; 
  padding: 8px 20px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: max-content;
  font-family: 'Lucida Console';
  bottom: 0px;
}

.chatBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 5000px;
  width: 1000px;
  height: 600px;
  max-height: 400px;
  overflow-y: Fauto;
}

.button {
  position: relative;
  height: "50px" ;
  width: "50px";
  right: 0px;
  margin-right: 10px;
  padding: 8px 20px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Lucida Console';
  
}

.cursor {
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  font-family: 'Lucida Console';

}

.controlsContainer {
  position: absolute;
  bottom: 11%;
  left: 47%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlItem {
  display: flex;
  align-items: center;
  padding-right: 7%;
}

.controlsImage {
  margin-right: 7%; /* Space between the image and the text */
}

.controlText {
  font-size: 110%;
  color: white; /* Set font color to white */
  font-family: 'Lucida Console';
}
/* I DONT EVEN KNOW HOW I GOT SO FAR I CANT EVEN CSS, class rectangle 
*/

.controlItem1 {
  display: flex;
  align-items: center;
  padding-right: 7%;
}

.controlsImage1 {
  margin-left: 7%; /* Space between the image and the text */
}

.controlText1 {
  font-size: 100%;
  color: white; /* Set font color to white */
  font-family: 'Lucida Console';
}

.topContainer {
  position: absolute;
  bottom: 14%;
  left: 30%;
  transform: translateX(-15%);
  display: flex;
  flex-direction: column;
  align-items: center;
}