.splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    /* Change to fixed position to cover the entire viewport */
    top: 0;
    /* Position from the top */
    left: 0;
    /* Position from the left */
    width: 100%;
    /* Take up full width */
    height: 100%;
    /* Take up full height of the viewport */
    opacity: 0;
    animation: fadeIn 1s forwards;
    z-index: 999;
    background-color: black;
    font-size: large;
    font-family: 'Lucida Console';
}

/* Add a CSS rule for the nametag */
.nametag {
    padding: 5px 10px;
    background-color: red;
    font-size: large;
    color: white;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    white-space: nowrap;
    position: absolute;
    bottom: 50%;
    /* Adjust the position as needed */
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Lucida Console';
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.win-text {
    color: green;
    font-family: 'Lucida Console';
}

.loss-text {
    color: red;
}

.center-image {
    max-width: 80%;
    max-height: 50%;
    margin: 20px 0;
}



.action-button {
    position:relative;
    bottom: 5%;
    margin: auto;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    margin: 5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Lucida Console';
    font-size: larger;
    z-index: 999;
}

.grey-button {
    position:relative;
    bottom: 5%;
    margin: auto;
    background-color: rgb(119, 119, 119);
    color: rgb(185, 185, 185);
    padding: 10px 20px;
    opacity: 80%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Lucida Console';
    font-size: larger;
    z-index: 999;
}


.action-button:hover {
    background-color: #45a049;
    /* Darker shade of green on hover */
}

.waiting-text {
    font-size: larger;
    font-family: 'Lucida Console';
    color: lightgrey;
    margin: 10%;
    position: relative;
}

.text {
    color: white;
    font-size: large;
    font-family: 'Lucida Console';
    z-index: 20000;
    
}

.choiceButtons{
    position: relative;
    justify-content: center;
    width: 100vw;
    justify-content: space-around;
    align-items: baseline;
}

.restartButton{
    top: 80vh;
    margin: auto;
    position: relative;
    bottom: 0;
    z-index: 999;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    text-align: center;
}

